body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.container-center {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

div.container-main {
    padding: 16px 36px 16px 20px;
    margin: 0;
    width: 100%;
}

button.button-command:disabled {
    cursor: not-allowed;
}

button.button-command:disabled,
button.button-command {
    margin: 20px 5px 5px 5px;
    display: inline-block;
    max-width: 220px;
}

.button-command > * {
    vertical-align: middle;
}

input[type="number"] {
    padding-right: 10px;
    text-align: right;
}

.text-right {
    text-align: right;
}

.MuiInputBase-root.MuiOutlinedInput-root {
    overflow: hidden;
}

input.filename-input {
    text-align: right;
    padding-top: 15px;
    padding-bottom: 18px;
    padding-right: 2px;
}

.css-60ctgw-MuiFormControl-root {
    padding-right: 0;
}

button.close-btn {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

td.hex {
    padding: 5px;
    cursor: pointer;
    font-size: 15px;
}

td.active {
    background-color: yellow;
    color: black;
}

div.payload {
    margin-top: 20px;
    margin-left: 17px;
    background-color: rgb(80,80,80);
}

td.index {
    font-weight: bold;
    padding-right: 20px;
}

div.inner-acc {
    width: 1300px;
    background-color: rgb(40,40,40);
}